mixin main-menu()
	nav.main-menu
		.main-menu__container
			a(href="#" title="").main-menu__item Главная
			a(href="#" title="").main-menu__item Получение в 14 лет
			a(href="#" title="").main-menu__item Замена в 20 лет
			a(href="#" title="").main-menu__item Замена в 45 лет
			a(href="#" title="").main-menu__item Загранпаспорт
			a(href="#" title="").main-menu__item Госпошлина