// GUI stylies of the project
// For example, styles of the links, buttons and so on.

.main {
	width: 1000px;
	margin: auto;
	@media screen and (max-width: 768px) {
		width: 100%;
	}
	&__wrap {
		@media screen and (max-width: 768px) {
			width: 100%;
			overflow-x: hidden;
			position: absolute;
			height: 100%;
			
		}
	}
	&__slide {
		@media screen and (max-width: 768px) {
			&.active {
				width: 100%;
				position: absolute;
				left: 90%;
				//top: 120px;
			}
		}
	}
}

.menu-slide {
	position: absolute;
	left: -100%;

	width: 90%;

	border-right: 1px solid #cecece;
	&.active {
		z-index: 5;
		top: 120px;
		left: 0;

		background: #fff;
		.left-menu {
			display: block;
		}
	}
}
