mixin contact-support()
	.contact-support
		.contact-support__title Многоканальная бесплатная горячая линия
		p.contact-support__content Бесплатные юридические консультации и помощь в получении паспорта, загранпаспорта,РВП, вида на жмтельство, гражданства РФ
		.contact-support__phone.contact-support__phone--first +7 (499) 703-34-39
			span (Москва и МО)
		.contact-support__phone +7 (812) 309-86-85
			span С-Петербург и ЛО
		.contact-support__work Ежедневно с 9.00 до 21.00