mixin comments()
	section.comments
		.comments__title Последние вопросы
		.comments-item
			.comments-item__avatar
				img(src="%=staticPrefix=%images/content/avatar.jpg" alt="")
			.comments-item__content
				.comments-item__name Инга Истван 
				.comments-item__text 
					p Добрый день.Если срок замены пасспорта истек и следовательно положен штраф, могу ли я заменить паспорт используя госуслуги? если да, то как будет происходить процесс оплаты штрафа в таком случае? Тем не менее, я бы порекомендовала обратиться с заявлением о замене внутреннего паспорта не позднее 30 суток со дня въезда в Россию.

		.comments-item
			.comments-item__avatar
				img(src="%=staticPrefix=%images/content/avatar.jpg" alt="")
			.comments-item__content
				.comments-item__name Инга Истван 
				.comments-item__text 
					p Добрый день.Если срок замены пасспорта истек и следовательно положен штраф, могу ли я заменить паспорт используя госуслуги? если да, то как будет происходить процесс оплаты штрафа в таком случае? Тем не менее, я бы порекомендовала обратиться с заявлением о замене внутреннего паспорта не позднее 30 суток со дня въезда в Россию.

			.comments-item.comments-item--inside
				.comments-item__avatar.comments-item__avatar--inside
					img(src="%=staticPrefix=%images/content/avatar-admin.jpg" alt="")
				.comments-item__content.comments-item__content--inside
					.comments-item__name.comments-item__name--inside Величко А.С
					.comments-item__text.comments-item__text--inside
						p Добрый день Инга!Спасибо за ответ) Мы сдали документы после нового года. По словам УФМС их один раз вернули, чтобы что-то до исправить и опять отправили. Возможно ли такое? Спасибо