mixin footer(data)
	footer.footer
		.footer__text Гражданство РФ, паспортные и миграционные вопросы: бесплатные консультации
		.footer__phone +7 (499) 703-34-39
			span (Москва и МО)
		.footer__phone +7 (812) 309-86-85
			span С-Петербург и ЛО
		.footer__counters
			| <noindex><!--LiveInternet counter--><script type="text/javascript"><!--document.write("<a href='//www.liveinternet.ru/click' "+"target=_blank><img src='//counter.yadro.ru/hit?t12.2;r"+escape(document.referrer)+((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+";"+Math.random()+"' alt='' title='LiveInternet: показано число просмотров за 24"+" часа, посетителей за 24 часа и за сегодня' "+"border='0' width='88' height='31'><\/a>")//--></script><a href="//www.liveinternet.ru/click" target="_blank"><img src="//counter.yadro.ru/hit?t12.2;rhttp%3A//youpassport.ru/zagran/perevod-zagranpasporta.php;s1280*800*24;uhttp%3A//youpassport.ru/;0.3391253771260381" alt="" title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня" border="0" width="88" height="31"></a><!--/LiveInternet--></noindex>
	.footer-copyright
		p © 2009 - 2014 Гражданство РФ, все паспортные и миграционные вопросы. Все права защищены. Использование материалов сайта возможно только при наличии активной ссылки на passportist.ru.
	| </div>
	script(src="http://yastatic.net/jquery/1.10.2/jquery.min.js")
	script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')