include ../head/head
include ../footer/footer
include ../header/header
include ../main-menu/main-menu
include ../sidebar/sidebar
include ../consultation/consultation
include ../left-menu/left-menu
include ../content/content
include ../contact-support/contact-support
include ../index-content/index-content
include ../comments/comments
include ../single-content/single-content
include ../single-meta/single-meta