mixin consultation()
	.consultation
		.consultation__title Юридическая консультация
		.consultation__content 
			p 
				strong Бесплатно 
				| задайте их нашим юридическим консультантам! Получите квалифицированную помощь прямо сейчас! Гражданство РФ, все паспортные и миграционные вопросы.
		a(href="#" title="").consultation__btn Задать вопрос